{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock head %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main') }}">公告管理系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user', uid=current_user.uid) }}">{{ current_user.uname }}</a></li>
                        <li><a href="{{ url_for('logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block content %}
    <div class="container">
        {% block flash_messages %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock flash_messages %}
        <div class="page-header">
            <h1>{% block page_header %}{% endblock %}</h1>
        </div>
        {% block page_content %}{% endblock %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
{% endblock %}