{% extends "base.html" %}

{% block page_header %}公告{% endblock %}

{% block page_content %}
    <p class="float-right" style="margin-top: -5em"><a href="{{ url_for('page_new') }}">创建</a></p>
    <ul id="page-list">
        {% for page in pages %}
            <li>
                <a href="{{ url_for('page', pid=page.pid) }}">
                    {% if page.hidden %}<del>{% endif %}{{ page.pid }} - {{ page.title }}{% if page.hidden %}</del>{% endif %}
                </a>
                <a class="float-right" href="{{ url_for('page_edit', pid=page.pid) }}" style="margin-left: 1em">编辑</a>
                <a class="float-right" href="{{ url_for('page_set_hidden', pid=page.pid, hidden=(0 if page.hidden else 1)) }}" style="margin-left: 1em">{% if page.hidden %}取消{% endif %}隐藏</a>
            </li>
        {% endfor %}
    </ul>
{% endblock page_content %}
