{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock %}

{% block page_header %}{% if page.hidden %}<del>{% endif %}{{ page.title }}{% if page.hidden %}</del>{% endif %}{% endblock %}

{% block page_content %}
    <a class="float-right" href="{{ url_for('page_edit', pid=page.pid) }}" style="margin-left: 1em">编辑</a>
    <a class="float-right" href="{{ url_for('page_set_hidden', pid=page.pid, hidden=(0 if page.hidden else 1)) }}" style="margin-left: 1em">{% if page.hidden %}取消{% endif %}隐藏</a>
    <div style="text-indent: 2em">{{ page.content | to_html | safe }}</div>
    <p><i>修改于：{{ page.date.strftime('%Y-%m-%d %H:%M') }}</i></p>
{% endblock page_content %}