{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ user.uname }} - 用户资料 - {{ super() }}{% endblock %}

{% block page_header %}{{ user.uname }} - 用户资料{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4">
            <dl>
                <dt>UID</dt><dd>{{ user.uid }}</dd>
                <dt>用户名</dt><dd>{{ user.uname }}</dd>
            </dl>
        </div>
        {% if current_user.uid == user.uid %}
            <div class="col-md-4">
                {{ wtf.quick_form(form_uname) }}
            </div>
            <div class="col-md-4">
                {{ wtf.quick_form(form_pwd) }}
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
